<footer>
  <nav role="navigation">
    <ul class="site-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if menus[child_list_handle].links != blank %}
          <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
            <a href="{{ link.url }}" class="site-nav__link">
              {{ link.title }}
              {% include 'icon-arrow-down' %}
            </a>
            <ul class="site-nav__submenu">
              {% for childlink in menus[child_list_handle].links %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %}class="site-nav--active"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if cart.item_count != 0 %}
      <li class="site-nav--active">
        <a href="/cart">
          {{ 'layout.cart.title' | t }}
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
